doctype html
html
    head
        meta(charset="UTF-8")
        block title
            title Apply English
    body
        header
            nav
                a(href="/") Apply English
                |&#32;|&#32;
                a(href="/about") About
        hr
        main
            block content
                != contents
        hr
        footer
            address Apply English
